/* Olá! Sua tarefa é preparar a base do nosso projeto.

Requisitos:

    No arquivo CSS, aplique o reset básico: margin: 0, padding: 0 e box-sizing: border-box no seletor universal *.

    No html, configure a fonte base usando 62.5%.

    No body, defina uma cor de fundo escura (ex:rgb(30, 32, 24)) e uma cor de texto clara (ex: #d1d1c1).

    Aplique a fonte 'Arial' ou uma fonte local que você tenha configurado.

Dica: Lembre-se que o font-size: 62.5% fará com que 1rem valha 10px! */
/* padding= é o espaçamento interno entre o texto e o bloco. */
/*  margin: 0 0 0 0 - aplica a todos os lados
    margin: 0 0 0 - aplica ao top-bottom e right
    margin: 0 0 - aplica ao top-bottom e right-left
    margin: 0 - aplica a todos os lados

*/
 
/* tem que se nessa ordem */
/*
    margin-top:0 ;
    margin-bottom:0 ;
    margin-right:0 ;
    margin-left:0 ;
    padding: 0;
    box-sizing: border-box; 
*/

h1{
    background: #9799;
}
 #container{
    background-color: #f2e5f2;
    margin: 0 auto;
    width: 70%
 }
 
 
